.texto-rojo{
    color:red;
}

.login{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    border: 3px solid black;
}

.campo-login{
    height: 50px;
    width: 300px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.boton{
    background-color: green;
    color:white;
}