.App{

  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

/*  Formulario  */
.nuevo{
  background-color: coral;
}

.nuevo .formulario{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  justify-content: center;
  align-items: center;
}