#slider-container{
    position: relative;
    top:20px;
    
}

#img-slider{
    height: auto;
    width: 100%;
}

#titulo-slider { 
    position: absolute; 
    bottom: 20%; 
    left: 0; 
    width: 100%; 
    text-align: center;
 }

 #desc-slider {
     position: absolute;
     bottom:8%;
     left:0;
     width: 100%;
     text-align: center;
 }

 #desc-slider span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
 }

 #titulo-slider span {
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
 }