#slider-container{
    position: relative;
    top:20px;
    
}

#img-slider{
    height: auto;
    width: 100%;
}

#titulo-slider { 
    position: absolute; 
    bottom: 50%; 
    left: 0; 
    width: 100%; 
    text-align: center;
    font-size: 2rem;
 }

 #desc-slider {
     position: absolute;
     bottom:25%;
     left:0;
     width: 100%;
     text-align: center;
     font-size: 1.4rem;
 }



 #titulo-slider span {
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
 }

 
 #desc-slider span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
 }


#eliminar{
    z-index: 999;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 25px;
    background-color: red;
    color:white;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
    }
}

 @media (max-width:700px){
    #desc-slider span{
        font-size: 1rem;
    }

    #slider-container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-auto-rows: auto;

        #imagen{
            height: 50px; width: 50px;
        }
    }
 }