h1{
    text-align: center;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.galeria-slider{
    height: 300px;
    width: 80%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    padding:45px;
    margin: 0 auto;
    margin-bottom: 60px;
    background: black;
    }

.galeria-slider img{
    height: 250px;
    min-width: 250px;
}