.footer{
    margin-top: 25px;
    height:20vh;
    width: 100%;
    background-color: green;
    color:white;

}

@media(max-width:800px){
    .footer{
        height: 40vh;
    }
}

h1{
    font-size: 2rem;
    margin-top: 30px;
}
.contacto{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
    i{
        font-size: 2rem;
        margin-right: 10px;
    }
}