.footer{
    margin-top: 25px;
    
    width: 100%;
    background-color: green;
    color:white;

}

@media(max-width:760px){
    .contacto{
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}

.footer h1{
    font-size: 2rem;
    margin-top: 50px;
    padding:5px;
    height: 50px;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
}


.contacto{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
    align-items: center;
   
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
    i{
        font-size: 1.2rem;
        margin-right: 10px;
    }
}